@model IEnumerable<OCR_Prototype.Models.OCRModel.getDetails>

@{
    Layout = null;
    ViewBag.Title = "Uploaded File";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - New Page Design</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome-4.7.0/css/font-awesome.css")
    @Styles.Render("~/Content/hover.css")

</head>
<body>
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-6"><h3><span class="oi oi-image" title="icon name" aria-hidden="true"></span> Uploaded File</h3></div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
            {

                <img id="upload-file" src=@Url.Content(item.Form_Path.Replace(" ", "%20")) style="max-width:100%; max-height:100%;" class="img-fluid" />
                <hr />
        }
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-12 text-center"><input type="button" value="Close" class="btn btn-outline-primary" onclick="window.close();" /></div>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/imgselect")
</body>
</html>
